* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 20px 200px;
  font-size: 28px;
  color: #f9faf8;
  background-color: #1f2937;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

.header-links ul {
  display: flex;
  flex: 1;
  gap: 20px;
  list-style: none;
}

.header-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
}

section {
  height: 500px;
  padding: 20px 200px;
}

/* main */
.main-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  background-color: #1f2937;
}

.main-title h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.main-title p,
.main-title img {
  font-size: 18px;
  font-weight: 400;
  color: #e5e7eb;
}

.main-title h1,
p {
  margin: 0 0 10px 0;
}

.awesome-image {
  align-content: center;
  width: 70%;
  height: 70%;
  margin-left: 100px;
  text-align: center;
  background-color: #4b5664;
}

.awesome button {
  margin-top: 10px;
  padding: 10px 40px;
  font-size: 18px;
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 8px;
  border-style: none;
}

/* Random information*/
.random-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0px 400px 0;
  text-align: center;
}

.random-info h2 {
  margin-top: 40px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.random-info ul {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.random-info ul li {
  width: 20%;
  padding: 20px 0;
  color: #78797a;
  border-radius: 8px;
  list-style: none;
}

.random-info img {
  width: 150px;
  height: 150px;
  margin: 0 0 10px 0;
  border: 4px solid rgba(20, 105, 233, 0.829);
  border-radius: 10px;
}

.inspiring-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
}

.quote {
  padding: 20px 200px;
}

.quote-text {
  margin: 0;
  font-size: 36px;
  font-weight: lighter;
  color: #1f2937cb;
  font-style: italic;
}

.author {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

.call-to-action {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.call-to-action .card {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  width: 80%;
  height: 50px;
  padding: 50px;
  background-color: #3882f6;
  border-radius: 10px;
}

.card-content .card-title {
  font-size: 24px;
  color: #f9faf8;
}

.card-content .card-text {
  color: #e5e7eb;
}

.btn-signup {
  align-content: end;
}

.btn-signup button {
  padding: 10px 40px;
  font-size: 18px;
  color: #f9faf8;
  background-color: transparent;
  border: white 2px solid;
  border-radius: 8px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  text-align: center;
  background-color: #1f2937;
}

.footer-page {
  color: #e5e7eb;
}